* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* vh (viewport height) — это единица измерения в CSS, которая относится к высоте видимой области экрана (viewport). Один vh равен 1% от высоты видимой области. Например:

100vh будет равняться 100% высоты видимой области (то есть полностью занимает высоту экрана).
50vh будет равняться 50% высоты видимой области.
Запись width: 400vh; означает, что ширина элемента main установлена в 400% от высоты экрана, что сделает его шире, чем видимая высота экрана.  */
main {
  width: 400vh;
  
}

header {
  width: 100%;
  min-height: 80px;
  padding: 20px 0 15px;
  background-image: url("imagebanner.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 700px;
  align-items: end;
}

.logo {
  height: 30px;
  /* добавили изменение курсора при наведении */
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.nav-container {
  display: flex;
  align-items: center;
  color: white;
  /* плотность элементов  или прозрачность элементов*/
  opacity: 0.5;
}

.icon {
  margin-right: 5px;
}

input {
  border: none;
  border-radius: 3px;
  /* убрали подсветку в режиме наведения в input */
  outline: none;
  opacity: 0.5;
  padding: 3px;
}
