/*
* {
  box-sizing: border-box;
}
*/
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  /* 100% процентов видимой области в окне браузера для пользователя по высоте */
  min-height: 100vh;
}
  header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:rgba(137, 43, 226, 0.538)
  }
 
/*

.css-heading {
  color: blue;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  margin: 10px;
}

.css-menu {
  color: blueviolet;
  font-size: 28px;
}
/*
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: sticky;
  z-index: 5;
  top: 0px;
  background-color: rgb(179, 206, 255);
}
  

main {
  padding: 0px 50px;
}

.sticky {
  background-color: blue;
  color: red;
  position: sticky;
  top: 200px;
}


.container-grid-min-max {
  display: grid;
  gap: 30px;
  /* ячейки будут растягиваться пока не получится добавить новую с минимальным размером 300px */
  /* при малом кол-ве ячеек в одной строке auto-fill - достраивает недостающие сохраняя размер для видимых элементов */
  /* auto-fit - растягивает ячейки  
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* высота ячейки 
  grid-auto-rows: 300px;
  */ 


  nav {
    max-width: 800px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 30px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav a:hover {
    color: rgb(239, 239, 239);
  }
  
  main {
    /* элемент займет все оставшееся свободное пространство во flex контейнере родителе */
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(227, 227, 227);
  }

h2{
  padding: 20px;
  margin: 20px;
  color: blue;
  font-weight: bold;
  font-size: 10px;
  font-style: italic;
  
}
/* 
 h1{
  padding: 20px;
  margin: 20px;
  color: blue;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
 

 } 
*/

footer {
  
  padding: 20px;
  height: 100px;
  background-color:blueviolet;
  width: 100%;
}

.button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}
#login {
  background-color: aqua;
}
#login:hover {
  color: black;
}
#login:active {
  background-color: red;
}
#registration {
  background-color: violet;
  color: black;
}
#registration:hover {
  color: white;
}
#registration:active {
  color: red;
}
.grid-cards-container img {
  width: 100%;
  margin-bottom: 15px;
}
.grid-cards-container {
  /* width: 70%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  /* grid-auto-rows: 380px; */
}

.wrapper {
  max-width: 800px;
}

.burger-menu {
  font-size: 30px;
  display: none;
}

/* обращение только к прямым потомкам */
.grid-cards-container>div {
  display: flex;
  justify-content: center;
  padding: 30px 35px 70px;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}

/* обращение только ко всем дочерним элементам */
.grid-cards-container h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-cards-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* на всех экранах меньше 390px работают эти css свойства */
/* медиа запросы это инструмент для включения и выключения css свойств на экранах различной ширины */

@media (max-width: 768px) {
  header {
    background-color: rgb(239, 116, 21);
  }
}

@media only screen and (max-width: 540px) {
  /* header {
    background-color: rgb(156, 106, 12);
  } */

  .nav-menu>a {
    display: none;
  }

  .burger-menu {
    display: inline;
  }
}
