* {
  color: rgb(255, 0, 238);
}

h1 {
  color: rgba(7, 139, 0, 0.967);
  text-align: center;
}
h1 {
  text-align: center;
}

.blue-text {
  color: blue;
}
.css-heading {
  font-weight: bold;
  font-size: 18px;
}
.css-link {
  text-decoration: none;
  color: chartreuse;
}
img-no-inline {
  width: 380px;
}
.css-list-item {
  color: black;
  font-style: italic;
}
.css-priority {
  text-decoration: underline;
  color: chocolate;
}
